<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NettivisioHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NettivisioHelper.Properties.Settings>
            <setting name="hasWindowPos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vlcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="useMulticast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useDeinterlacing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deinterlacingMode" serializeAs="String">
                <value />
            </setting>
        </NettivisioHelper.Properties.Settings>
    </userSettings>
</configuration>